[submodule "lnArduino"]
	path = lnArduino
	url = ../lnArduino.git
[submodule "simplerILI9341"]
	path = simplerILI9341
	url = ../simplerILI9341.git
[submodule "simpler_INA219"]
	path = simpler_INA219
	url = ../simpler_INA219.git
