[submodule "lnArduino"]
	path = lnArduino
	url = ../lnArduino.git
[submodule "externals/simplerILI9341"]
	path = externals/simplerILI9341
	url = ../simplerILI9341.git
[submodule "externals/simpler_INA219"]
	path = externals/simpler_INA219
	url = ../simpler_INA219.git
